@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: rgba(160, 34, 121, 1);
    --bg-color: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    --red-rose: Red Rose;
}

.contain {
    margin-top: 2rem;
    position: relative;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.links {
    display: none;
}

.links a {
    padding: .5rem;
    text-decoration: none;
    color: black;
}

.connect {
    padding: .8rem;
    border-radius: 8px;
    border: none;
    background-color: var(--main-color);
    color: white;
}

.menu img {
    width: 2rem;

}



.end-side {
    display: flex;
    align-items: center;
    gap: .7rem;

}

.pics {
    border-radius: 15px;

}

.pics img {
    width: 14.6rem;
    object-fit: cover;
}

.pic-container {
    display: flex;
    gap: .4rem;
    min-height: 33rem
}

.pic-container>div:first-child {
    align-self: center;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.text h1 {
    font-weight: 700;
    font-family: var(--red-rose);
    font-size: clamp(1.5rem, 3vw, 3rem);

}

.text h1 span {
    color: var(--main-color);
}

.text p {

    max-width: fit-content;
    font-weight: 400;
    font-size: clamp(.8rem, 2vw, 1rem);
    font-family: var(--red-rose);
    line-height: 20px;
}

.input {
    margin-top: 2rem;

    width: auto;

}

.input input {
    padding: 1rem;
    border: 1px solid rgba(163, 163, 163, 1);
    border-radius: 8px 0px 0px 8px;

}

.input input:active {
    border: none;
}

.input button {
    padding: 1.05rem 3rem;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: var(--main-color);
    color: white;
}

.banner {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.banner>div {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .4rem;
    gap: .5rem;
}

.banner>div img {
    object-fit: contain;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    row-gap: .8rem;
    width: 90%;
    place-items: center;
    margin: 1rem auto;
}

.sep {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 12px;
    padding: .3rem;
}


.frame-pics img {

    object-fit: cover;
}

.ad-container {
    border: 1px solid gray;
    width: min-content;
    padding: .5rem;
    border-radius: 15px;
    width: 18rem;
    text-align: center;
}

.stars {
    text-align: left;
    object-fit: contain;
    display: flex;
    gap: .3rem;
    padding: .3rem;

}

.stars img {
    width: .75rem;
}

.learn {
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    height: 45rem;

}



.learn-text h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.learn-text p {
    max-width: 25rem;
    font-size: clamp(.8rem, 3vw, 1rem);
    line-height: clamp(1.2rem, 3vw, 2.2rem);
}

.learn img {

    width: 40rem;
}

.learn button {
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: var(--main-color);

}

footer {
    background-color: rgba(29, 29, 30, 1);
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    position: relative;

}


footer>div {
    display: flex;
    flex-direction: column;
}

footer>div>a:first-child {
    font-weight: 800;
    font-size: clamp(.9rem, 3vw, 1rem);
}

.icons {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
}

.logo-icon {
    height: 10rem;
    display: flex;
    flex-direction: column;
    position: relative;

}



.community a,
.places a,
.about a {
    padding: .5rem 0;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.last {
    color: white;
    position: absolute;
    bottom: 2rem;
}

.popup-wallet {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(64, 64, 64, 0.3);
    display: grid;
    place-content: center;
}

hr {
    border: .5px solid gainsboro;
}

.popup {
    background: white;
    width: 37rem;
    border-radius: 16px;
}

.topside,
.downside {
    padding: 1.5rem;
}

.topside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta-wallet,
.coin-wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    margin-top: .5rem;
    border: 1px solid #CFD8DC;
    background: rgba(207, 216, 220, 1);
    border-radius: 12px;
}

.meta-wallet>div,
.coin-wallet>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}


@media screen and (min-width: 775px) {

    .menu {
        display: none;
    }

    .links {
        display: block;
    }
}

@media screen and (max-width: 1035px) {
    .main {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .pic-container {
        margin: 3rem 0;
        min-height: 100%;

    }

    .learn {
        justify-content: center;
        height: 35rem;
        padding: 0 2rem;

    }

    .learn img {
        width: 30rem;
    }
}

@media screen and (max-width: 875px) {
    .learn img {
        width: 20em;
    }

    footer {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 725px) {
    .learn img {
        display: none;
    }

    .banner {
        display: none;
    }

    .learn {
        height: 20rem;
    }
}

@media screen and (max-width: 555px) {
    footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        padding: 0 0 5rem 0;
    }

    .logo-icon {
        justify-content: center;
    }

    .logo-icon>img {
        margin: 0 auto;
    }

    .icons {
        align-self: center;
    }

    footer p {


        margin: 0 auto;
        justify-content: center;
    }

    .pic-container div:last-child .pics:first-child,
    .pic-container div:last-child .pics:last-child {
        display: none;
    }

    .logo img {

        max-width: 8rem;
    }

    .connect {
        display: none;
    }
}

@media screen and (max-width: 446px) {
    .input input {
        border-radius: 8px;
    }

    .input button {
        border-radius: 8px;
        margin-top: 1rem;
    }

    .learn {
        height: auto;
        padding: 5rem 2rem;
    }
}