.options {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 4rem 0;

}

.option {
    display: flex;
    align-items: center;
    gap: 4rem;


}

.drop {
    display: none;
}

.drop img {
    width: 2rem;
}

.options a {
    text-decoration: none;
    color: black;
}

.setting {
    display: flex;
    padding: .8rem;
    border: 1px solid rgba(180, 180, 180, 1);
    border-radius: 8px;
    gap: 1rem;
}

.side-cancel {
    position: absolute;
}

.aside {

    min-width: 12rem;
    background-color: gainsboro;
    margin: 2rem;
    position: absolute;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.side-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

.side-links a {
    padding: 1rem;
    text-decoration: none;
    color: black;
}


.side-links a:hover {
    transform: scale(1.1, 1.1);
    transition-duration: .5s;
}

@media screen and (max-width: 1130px) {
    .option {
        gap: 2rem;
    }

    .options {
        gap: 2rem;
    }
}

@media screen and (max-width: 912px) {
    .option {
        gap: 1rem;
    }

    .options {
        gap: 1rem;
    }
}

@media screen and (max-width: 830px) {
    .option {
        display: none;
    }

    .options {
        justify-content: space-between;
    }

    .drop {
        display: block;
    }
}